.page-wrapper {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.blur-it {
    filter: blur(5px);
}


.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; 
  left: 0;
  background: rgba(75, 75, 76, 0.8);
  visibility: hidden;
  opacity: 0;
  /* transition: all 0.25s ease-in-out; */
}

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 800px;
  height: 600px;
  display: block;
  margin: 50% 0 0 -200px;
  position: relative;
  top: 30%; 
  left: 32.5%;
  background: #fff;
  opacity: 0;
  /* transition: all 0.5s ease-in-out; */
}

.modal-wrapper.open .modal {
  margin-top: -200px;
  opacity: 1;
}

.head { 
  width: 100%;
  height: 25px;
  padding: 5px 5px;
  overflow: hidden;
  background: #fff;
}

.btn-close {
  font-size: 20px;
  display: block;
  float: right;
  color: #3A5FCB;
}

.content {
  padding: 10%;
}

.btn-event{
  border: none;
  background-color: #fff;
}

.event-img{
  width: 262.5px;
  height: 371.25px;
}

.eventWord {
  font-size: 20px;
}