.result {
    margin: 0 auto;
}

.scrolling-wrapper{
	overflow-x: auto;
}

.category-card {
    margin: 0 auto;
}
.card {
    height: 100%;   
}
.card-block{
    width: 20rem;
    height: 35rem;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	border-radius: 12.5px;
}

.card-title {
    font-weight: bolder;
    color:#3A5FCB;
}

.card-text {
    color: grey;
}
.card-img {
    width: 15rem;
    height: 15rem;
    display: block; 
    margin: 0px auto;
}

.card-link {
    display: block;
    width: 100%;
}

.card-footer{
    background-color: white;
    border: none;
}

.result-purchase {
    text-align: center;
}

.btn-purchase {
    margin: 0 auto;

    outline: 0;

    border-color: #3A5FCB;
    color: 	#3A5FCB;
    background-color: white;
}

.btn-pop {
    display: inline-block;
    /* margin: 0 auto; */
    width: 45%;
    outline: 0;

    border-color: #3A5FCB;
    color: 	#3A5FCB;
    background-color: white;
}